@model ManageUsersViewModel<ApplicationUser>

@{
    ViewData["Title"] = "Manage Users";
}

<div class="text-center">
    <div class="list-group">
        @foreach (var (user, idx) in Model.Users.Select((user, i) => (user, i)))
        {
            <div class="list-group-item mb-3">
                <p>@user.Id</p>
                <p>@user.FirstName</p>
                <p>@user.LastName</p>
                <p>@user.UserName</p>
                <p>@user.Email</p>
                <div>user roles: </div>
                @foreach (var (role, roleIdx) in Model.Roles[idx].Select((role, roleIdx) => (role, roleIdx)))
                {
                    <span> @(role + (roleIdx < (Model.Roles[idx].Count()-1) ? "," : ""))</span>
                }
            </div>
        }
    </div>
</div>
