@model LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "_LoginSignUpLayout";

    var userNameFieldId = "login_input1";
    var passwordFieldId = "login_input2";
}

<h1 class="text-center">Log in</h1>

@if (TempData["sessionExpired"] is not null)
{
    <div class="alert alert-danger">@TempData["sessionExpired"]</div>
}

<form id="contactForm" method="post" action="@Url.Action("ValidateLogin", "Account")">
    @Html.AntiForgeryToken()

    @* <div class="text-danger" asp-validation-summary="All"></div> *@

    <div class="form-outline mb-4">
        <label for=@userNameFieldId class="form-label">Username</label>
        <input asp-for="username" id=@userNameFieldId type="text" name="username" class="form-control" placeholder="Username" />
        <span asp-validation-for="username" class="text-danger"></span>
    </div>

    <div class="form-outline mb-4">
        <label for=@passwordFieldId class="form-label">Password</label>
        <i id="@("open"+passwordFieldId)" class="fa-solid fa-eye" style="display: none;" onclick="toggleVisible('@passwordFieldId')"></i>
        <i id="@("close"+passwordFieldId)" class="fa-solid fa-eye-slash" onclick="toggleVisible('@passwordFieldId')"></i>
        <input asp-for="password" id=@passwordFieldId type="password" name="password" class="form-control" placeholder="Password"/>
        <span asp-validation-for="password" class="text-danger"></span>
    </div>

    <input id="submitButton" type="submit" value="Log in" class="btn btn-primary" />
    <div>
        <a asp-action="ForgotPassword" asp-controller="Account">Forgot Password?</a>
    </div>


    <div class="text-center">
        <p>Don't have an account? @Html.ActionLink("Sign up", "Register", "Account")</p>
    </div>
</form>

@if (TempData["incorrectLogin"] is not null)
{
    <div class="alert alert-danger">@TempData["incorrectLogin"]</div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

