
@model ResetPasswordViewModel

@{
    var resetId = "resetPassword";
    var confirmResetId = "confirmResetPassword";
}

<h2>Reset Password</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post" action="@Url.Action("ResetPassword", "Account")">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Token" type="hidden" />
            <input asp-for="Email" type="hidden" />
            <div class="form-group">
                <label asp-for="Password"></label>
                <i id="@("open"+resetId)" class="fa-solid fa-eye" style="display: none;" onclick="toggleVisible('@resetId')"></i>
                <i id="@("close"+resetId)" class="fa-solid fa-eye-slash" onclick="toggleVisible('@resetId')"></i>
                <input asp-for="Password" id="@resetId" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <i id="@("open"+confirmResetId)" class="fa-solid fa-eye" style="display: none;" onclick="toggleVisible('@confirmResetId')"></i>
                <i id="@("close"+confirmResetId)" class="fa-solid fa-eye-slash" onclick="toggleVisible('@confirmResetId')"></i>
                <input asp-for="ConfirmPassword" id="@confirmResetId" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Reset</button>
        </form>
    </div>
</div>
