@using PasswordManager.Models
@model IEnumerable<AccountModel>

@if (Model.Count() == 0)
{
    <p>Couldn't find any accounts with this filter query.</p>
}
else
{
    <div class="table-responsive">
        <table class="table mb-4">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Username</th>
                    <th scope="col">Password</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var (account, idx) in Model.Select((account, i) => (account, i)))
                {
                    <tr>
                        <th scope="row">@account.accountId</th>
                        <td>@account.title</td>
                        <td>@account.username</td>
                        <td class='text-wrap' style="wordBreak: 'break-all';">
                            <div class="position-relative">
                                <input id="@idx" value="@account.password" type="password" readonly />
                                <i id="@("open"+idx)" class="fa-solid fa-eye position-absolute top-50 end-0 translate-middle-y" style="display: none;" onclick="toggleVisible(@idx)"></i>
                                <i id="@("close"+idx)"class="fa-solid fa-eye-slash position-absolute top-50 end-0 translate-middle-y" onclick="toggleVisible(@idx)"></i>
                            </div>
                        </td>
                        <td>

                            @* WHY IS IT THAT WE CANNOT PASS ACCOUNTMODEL OBJECT BACK UP? *@
                            <a
                                href="@Url.Action("Delete", "Home", new { userId = account.userId, accountId = account.accountId })"
                                class="btn btn-danger"
                                onclick="return confirm('Are you sure you want to delete this password account?')"
                            >
                                Delete <i class="fa fa-trash"></i>
                            </a>


                            <button
                                type="button"
                                class="btn btn-success"
                                data-toggle="modal"
                                data-target="@("#EditProduct-"+account.accountId)"
                                data-url="@Url.Action($"Edit/{account.accountId}")">
                                Edit
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                            @await Html.PartialAsync("_Edit", account)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}