@using PasswordManager.Models
@model EditViewModel

@{
  string passwordInputId = "editPassword" + Model.editIdx;

}

<div class="modal fade" id="EditProduct-@Model.accountModel.accountId" tabindex="-1" role="dialog" aria-labelledby="EditProductLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="title-label">Edit Password Account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="editForm" action="/Home/Edit" method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.HiddenFor(m => m.accountModel.accountId)
                @Html.HiddenFor(m => m.accountModel.userId)
            </div>
            <div class="form-group">
                <label for="title" class="form-label">Title</label>
                <input asp-for="@Model.accountModel.title" id="edit1" class="form-control" placeholder="please enter a new title. Old title: @Model.accountModel.title" type="text" value="@Model.accountModel.title">
                <span asp-validation-for="@Model.accountModel.title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="username" class="form-label">Username</label>
                <input asp-for="@Model.accountModel.username" id="edit2" class="form-control" placeholder="please enter a new username. Old username: @Model.accountModel.username" type="text" value="@Model.accountModel.username">
                <span asp-validation-for="@Model.accountModel.username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="password" class="form-label">Password</label>

                <input
                    asp-for="@Model.accountModel.password"
                    id="@passwordInputId"
                    class="form-control" placeholder="please enter a new password. Old password: @Model.accountModel.password"
                    type="password"
                    value="@Model.accountModel.password">
                <span asp-validation-for="@Model.accountModel.password" class="text-danger"></span>
                <i id="@("open"+passwordInputId)" class="fa-solid fa-eye" style="display: none;" onclick="toggleVisible('@passwordInputId')"></i>
                <i id="@("close"+passwordInputId)" class="fa-solid fa-eye-slash" onclick="toggleVisible('@passwordInputId')"></i>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="submitForm()">Save</button>
      </div>
    </div>
  </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}