@inject IHttpContextAccessor ctx
@using PasswordManager.Models
@model AccountViewModel

@{
    ViewData["Title"] = "Password List";
}

<div class="text-center text-wrap">
    <h1 class="display-4">Passwords</h1>
    @* <p class="text-wrap">@Model.accountModel.userId</p>
    <ul>
        <li>@ctx.HttpContext!.Session.GetString("userId")</li>
        <li>@ctx.HttpContext.Session.GetInt32("userIdInt")</li>
    </ul> *@

    @if (TempData["editError"] is not null)
    {
        <div class="alert alert-danger">@TempData["editError"]</div>
    }

    <section class="vh-100" style="background-color: "#eee";">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="card rounded-3">
                        <div class="card-body p-4">
                            <h4 class="text-center my-3 pb-3">Password database query</h4>
                            <div class="col-12">
                                <div class="form-outline">

                                    @Html.TextBoxFor(m => m.accountModel.title, new { @class = "form-control", id = "filterInput", placeholder = "Filter by title...", type="text", ariaLabel="title", required=true})

                                    @using(Html.BeginForm("AddAccount", "Home", FormMethod.Post, new {@id = "contactForm"}))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="input-group">

                                            @Html.TextBoxFor(m => m.accountModel.title, new { @class = "form-control", id = "input1", placeholder = "Enter a title...", type="text", ariaLabel="title", required=true})

                                            @Html.TextBoxFor(m => m.accountModel.username, new { @class = "form-control", id = "input2", placeholder = "Enter a username...", type="text", ariaLabel="username", required=true})

                                            @Html.TextBoxFor(m => m.accountModel.password, new { @class = "form-control", id = "input3", placeholder = "Enter a password...", type="text", ariaLabel="password", required=true})

                                            @Html.HiddenFor(m => m.accountModel.userId)

                                        </div>
                                        <button
                                            type="submit"
                                            class="btn btn-primary ms-1">
                                            Add account
                                        </button>
                                    }
                                </div>
                            </div>
                            @if (TempData["addedAccount"] is not null)
                            {
                                <div class="alert alert-info">@TempData["addedAccount"]</div>
                            }
                            else if (TempData["errorAddingAccount"] is not null)
                            {
                                <div class="alert alert-danger">@TempData["errorAddingAccount"]</div>
                            }
                            @if (Model.accountModels?.Count() == 0)
                            {
                                <p>You don't have any passwords yet. Please start adding some.</p>
                            }
                            else
                            {
                                <div id="accountListView"></div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



@section Scripts
{
    <script>
        $(() => {
            getUsers()

            // responsive filtering from this code snippet
            $('#filterInput').on('keyup', () => {
                getUsers()
            })
        })

        function submitForm() {
            // console.log('submitting');
            document.getElementById("editForm").submit();
        }
        var getUsers = () => {
            $.ajax({
                url: '@Url.Action("FilterAccounts", "Home")',
                datatype: 'html',
                method: 'GET',
                data: {filterTerm: $('#filterInput').val()},
                success: (res) => {
                    $('#accountListView').html('').html(res)
                },
                error: (err) => {
                    console.log(err)
                }
            })
        }
    </script>
}

